{% extends "layout.html" %}

{% block contents %}
<table id="dictable" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>한국어</th>
                <th>영어</th>
                <th>일본어</th>
            </tr>
        </thead>
    </table>
<script>
$(document).ready(function() {
    $('#dictable').dataTable({
        "ajax": "{{ url_for('static', filename='data/%s.json' % dic) }}",
        "lengthMenu": [[15, 25, 50, -1], [15, 25, 50, "All"]]
    });
});
</script>
{% endblock %}
